@charset "UTF-8";

/*Folhas de estilos dedicada para todos dispositivos */

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    cursor: default;
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

header > h1 {
    background-color: rgb(212, 212, 212);
    text-align: center;
    padding: 0.5em;
}

header {
    background-color: rgb(212, 212, 212);
}

header > #icon-menu {
    display: none;
}

header > #menu {
    height: 2em;
}


header > #menu > a {
    margin: 0em 1em;
    color: white;
    background-color: rgb(60, 60, 60);
    text-align: center;
    padding: 0.4em;
    font-size: 0.8em;
    border-radius: 0.2em;
}
header > #menu > a:hover {
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0.3em 1em 0em rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

main {
    background-color: rgb(232, 232, 232);
}

main > article {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 768px;
    text-align: justify;
    padding: 0.8em;
}

main > article > h1,
main > article > h2 {
    margin: 0.4em 0;
    padding: 0.3em;
    text-align: left;
    background: linear-gradient(to right, rgb(204, 204, 204), white);
}

main > article > p {
    text-indent: 0.4em;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}