@charset "UTF-8";

/*Configurações para telas na vertical*/

body {
    background: url("/media-queries/images/cev-portrait.jpg");
    background-size: cover;    
    background-position: center bottom;
    background-repeat: no-repeat;
}