@charset "UTF-8";

/*Configurações para telas na horizontal*/

body {
    background: #233eff url("/media-queries/images/cev-landscape.jpg");
    background-size: cover;    
    background-position: center bottom;
    background-repeat: no-repeat;
}