@charset "UTF-8";

/* Folha de estilo dedicada para telas de tablets*/

body {
    background: url("/media-queries/images/back-tablet.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 20em;
    border-radius: 0.5em;
}

main > img#tablet {
    display: block;
}