@charset "UTF-8";

/*Folhas de estilos dedicada para dispositivos moveis*/

main > article {
    width: 100vw;
}

header > #menu {
    display: none;
}

header > #menu > a {
    display: block;
}

header > #icon-menu {
    display: block;
    cursor: pointer;
    color: white;
    background-color: rgb(143, 143, 143);
    padding: 0.5em;
    text-align: center;
}